/*
colors ->  
dark-yellow: #f77f00
light-yellow: #fcbf49
white: #eae2b7
blue: #003049
red: #d62828
*/

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 30vh;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #003049;
}

nav{
    color: #eae2b7;
    background-color: #d62828;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 5px;
    position: fixed;
    border-style:solid;
    border-left: #d62828;
    border-right: #d62828;
}

.title{
    color: #eae2b7;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 5vh; 
    margin-bottom: 5vh; 
}


#message{
    color: #eae2b7;
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: large;
}

#number{
    font-size: 25vh;
    text-align: center;
    color: #eae2b7;
    background-color: #d62828;
    width: 50vh;
    left: 50%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 5px;
    
}

.calc-container{
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(5, 5rem);
    justify-content: center;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    background-color:#fcbf49;
    gap: .5rem;
    border-radius: 50px;
    border-style: solid;
}

.calc-container > button{
    border-style: none;
    border-radius: 50%;
    text-align: center;
    font-size: larger;
    transition: ease-out 0.2s;
}

.calc-container > button:hover{
    background-color: hsl(50, 34%, 72%);
    color: white
}

.top-button{
    background: #f77f00;
    color: white
}

#button-0{
    width: 10.5rem;
    border-radius: 40px;
}

#button-coma, #button-equals{
    left: 5.5rem;
}

.side-operator{
    background-color: #d62828;
    color: #eae2b7;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    padding: 10px;
}

.answer {
    background-color: #f77f00;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    margin: auto;
    color: black;
}

.extra-img{
    padding: 40px;
    width: 40vw;
}

.btn {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: none;
    background-color: #f77f00;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 2rem;
    transition: ease-out 0.1s;
    margin: 2rem;
    border-style: solid;
}

.btn:hover{
    border-width: 6px;
}

a{
    color: inherit;
    text-decoration: inherit;
    font-size: 1.5rem;
}


a:hover {
    color: #fcbf49;
    transition: ease-out 0.3s;
    
}

.footer {
    background-color: #f77f00;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 10px;
    position: relative;
    height: 30vh;
    clear: both;
}

.footer > div{
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
    margin-top: 5vh;
}

.footer a{
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5vh;
    background: #fcbf49;
    border-radius: 5px;
    width: fit-content;
    padding: 2rem;
}

.inputs > label{
    margin: 0.5rem;
    font-size: large;
}

.inputs > input {
    width: 40vw;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    margin: 0.5rem;
    margin-bottom: 1rem;
    border-style: none;
    background-color: #eae2b7;
}

.inputs > button{
    margin: 0.5rem;
    width: 20vw;
    height: 3rem;
    border-radius: 5px;
    background-color:#d62828;
    color:hsl(51, 55%, 82%);
    font-size: larger;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .title{
        font-size: 40px;
    }

    #number{
        font-size: 15vh;
        width: 30vh;
    }

    .btn{
        font-size: 20px;
    }

    .footer-heading-contact a{
        display: none;
        margin-left: 2rem;
    }
    
    .footer-heading-contact h2{
        display: none;
        margin-left: 2rem;
    }
    
  }


